/*
* Creative Commons has made the contents of this file
* available under a CC-GNU-GPL license:
*
* http://creativecommons.org/licenses/GPL/2.0/
*
* A copy of the full license can be found as part of this
* distribution in the file LICENSE.TXT.
* 
* You may use the ccHost software in accordance with the
* terms of that license. You agree that you are solely 
* responsible for your use of the ccHost software and you
* represent and warrant to Creative Commons that your use
* of the ccHost software will comply with the CC-GNU-GPL.
*
* $Header$
*
*/

@import url('/cctemplates/skin-simple.css');

.cc_more_menu_link {
	font-weight: normal;
	margin-left: 10px;
}

h2 {
  font-size: 14px;
}

#cc_file_info h2 a {
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 0.02em;
	color: #667;
}

#cc_file_info h2 a:hover {
	color: brown;
}

.cc_rate_it_line {
	height: 35px;
	width: 314px;
	padding: 8px 5px 5px 5px;
	text-align: center;
	background: url("rate_back.gif") no-repeat top left;
}

.cc_rate_it_line a, .cc_rate_it_line div, .cc_rate_it_line span {
	color: brown;
}

.rvlink {
	text-decoration: underline;
}

a#ratingscommand  {
	margin: 0px;
}

a#ratingscommand span {
	color: #484;
}

.rcmd {
	float:right; 
	padding-left:5px;
}

.rate_block {
	padding-left:8px;
}

.sample_line {
	background: green url('sample_back.gif') bottom right no-repeat;
}

 #file_list .remix_line {
	background: url('remix_back.gif') bottom right no-repeat;
	background-color: #EEE;
	border-top: 3px solid #DDE;
	border-left: 3px solid #DDE;
	border-bottom: 2px solid #AAA;
	border-right: 2px solid #AAA;
}

.file_line .ccud {
	display: none;
}
