php_value upload_max_filesize 1M
php_value memory_limit 50M
php_value post_max_size 2M
php_value max_execution_time 300

RewriteEngine On
RewriteBase /

#
RewriteRule ^about/?$      index.php?page=about [L,QSA]
RewriteRule ^dig/?$        index.php?page=dig [L,QSA]
RewriteRule ^featured/?$   index.php?page=featured [L,QSA]

#
# pre-canned queries
# N.B. There is code and html that depends on these specific mappings
#

RewriteRule ^podcasts/?$        index.php?page=dig&title=ccMixter+Podcasts&type=podcast&dataview=topics_podinfo&results_func=podcastPageQueryResults&limit=10&datasource=topics&offset=1 [L,QSA]
RewriteRule ^picks/?$           index.php?page=dig&title=Editors'+Picks&tags=editorial_pick&dataview=diginfo [L,QSA]
RewriteRule ^popular/?$         index.php?page=dig&title=Popular&dataview=diginfo [L,QSA]
RewriteRule ^podcast_music/?$   index.php?page=dig&search-type=podcasting&title=Music+Safe+for+Podcasts&tags=male_vocals,female_vocals,vocals&type=any [L,QSA]
RewriteRule ^music_for_games/?$ index.php?page=dig&search-type=games&title=Electro+Instrumental+Music+for+Games&reqtags=instrumental,-male_vocals,-female_vocals,-vocals [L,QSA]
RewriteRule ^free_music/?$      index.php?page=dig&search-license=open&title=Music+Free+for+Commercial+Use [L,QSA]
RewriteRule ^cubicle_music/?$   index.php?page=dig&title=Chill+Cubicle+Music&tags=chill,ambient&type=any&search-type=cubicle [L,QSA]
RewriteRule ^party_music/?$     index.php?page=dig&title=Party+Music&tags=dance,trance,club,house&&type=any&search-type=party [L,QSA]

RewriteRule ^music_for_film_and_video/?$  index.php?page=dig&search-type=videos&title=Instrumental+Music+for+Film+and+Video&tags=instrumental,-male_vocals,-female_vocals,-vocals [L,QSA]

RewriteRule ^api/query/?$  lib/query_proxy.php [L,QSA]


RewriteCond %{HTTP_REFERER} (www.qq.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (www.difiorefotografi.it) [NC,OR]
RewriteCond %{HTTP_REFERER} (music.soso.com) [NC,OR]
RewriteCond %{QUERY_STRING} (DOCUMENT_ROOT|_REQUEST) [NC]
RewriteRule .* - [F]

order allow,deny
allow from all






