
ul.client_menu {
	margin: 0px auto;
	width: 70%;
	list-style: none;
}

.client_menu li {
	margin-bottom: 0.4em;
	clear: left;
	padding-top: 0.3em;
}

.client_menu a {
	font-weight: bold;
	font-size: 1.1em;
	display: block;
	float: left;
	width: 210px;
	text-align: right;
	margin-right: 10px;
}

span.config_star {
	display: inline;
	font-weight: bold;
	color: red;
}

.client_menu_help {
	width: 70%;
	margin: 0px auto;
}
.client_menu_hint {
	margin: 0.7em auto;
	width: 70%;
	font-style: italic;
}