.cc_name_ban {
   text-decoration: line-through;
   color: red;
   font-weight: normal;
}

.cc_name_hidden {
   text-decoration: line-through;
   color: #999;
   font-weight: normal;
   font-style: italic;
}

#ajax_msg {
	height: 25px;
	text-align: center;
	font-weight: bold;
	width: 80%;
	margin-left: 10%;
}

.ajaxmsg_msg {
	background-color: green;
	color: white;
	padding: 2px;
}

.ajaxmsg_error {
	background-color: red;
	color: white;
	padding: 2px;
}

.ajaxmsg_working {
	background-color: yellow;
	color: black;
	padding: 2px;
}

.cc_breadcrumbs {
	margin: 0.3em 0px 1.4em 0px;
}

a.cc_external_link, a.cc_external_link:link, a.cc_external_link:visited {
	font-weight: normal;
}

a.cc_external_link span {
	text-decoration: underline;
}