
.upload_name {
	font-size: 120%;
	font-weight: bold;
}

#cc_narrow_list {
	margin: 0px 2%;
	}
#cc_narrow_list td {
	padding: 2px;
	vertical-align: top;
}

#cc_narrow_list th {
	padding: 2px;
	text-align: right;
	font-variant: small-caps;
}

#cc_narrow_list td .upload_name {
	display: block;
	margin-bottom: 0.5em;
	}

#cc_narrow_list td.rec_end {
	height: 20px;
}

.small_stars {
	float: left;
	margin-right: 15%;
}