/* colorize */
/* big div sections */

.upload {
    margin: 15px; /* 0px 4px 0px; */
    padding: 4px;
    border-bottom: 1px dashed #8E8;
}
.upload_avatar {
    width: 95px;
    height: 95px;
    float: left;
    margin-right: 8px;
}
.upload_info {
    width: 340px;
    float: left;
}
#remix_info {
    width: 335px;
    float: left;
}
.list_menu {
    float: left;
    width: 150px;
}

/* other stuff */

.lic_link {
    float: right;
    margin-right: 12px;
}
.small_stars {
	float: right;
	margin-right: 20px;
}
.upload_date {
    color: #888;
}
.list_menu a {
    display: block;
}
.remix_link {
    font-weight: bold;
}
.remix_more_link {
    font-style: italic;
}
#remix_info h2 {
    font-size:12px;
    font-weight:normal;
    margin: 0px;
}
.playerdiv {
    white-space: nowrap;
}
.playerlabel {
    display: block;
    float: left;
}

