.cc_player_button {
    display: block;
    width: 17px;
    height: 17px;
    float: left;
}

.cc_player_pos, .cc_player_volume {
  margin-top: 2px;
  height: 13px;
  padding-top: 1px;
  float: left;
  cursor: pointer;
}

.cc_player_pos {
  width: 11px;
  background-color: #CCC;
}

.cc_player_volume {
  width: 50px;
  background: url('ccmixter/bar.gif') repeat-x top left;
  margin: 3px 22px 0px 5px;
}

.cc_player_label {
	color: #339933 ;
}

.cc_player_slider {
  background: #339933 url('ccmixter/marker.gif') no-repeat top right;
  width:   1px;
  height:  12px;
}

.cc_player_knob {
  background: url('ccmixter/knob.gif') no-repeat top right;
  width:   50px;
  height:  12px;
}

.cc_player_knob_hover {
  background: url('ccmixter/knob-sel.gif') no-repeat top right;
}

.cc_player_spacer {
  width: 20px;
}

.cc_player_hear {
  background: url('ccmixter/hear-button-fg.gif');
}
.cc_player_hear:hover {
  background: url('ccmixter/hear-button-bg.gif');
}

.cc_player_prev {
  background: url('ccmixter/dleftt-button-fg.gif');
}
.cc_player_prev:hover {
  background: url('ccmixter/dleftt-button-bg.gif');
}

.cc_player_next {
  background: url('ccmixter/dright-button-fg.gif');
}
.cc_player_next:hover {
  background: url('ccmixter/dright-button-bg.gif');
}

.cc_player_play {
  background: url('ccmixter/pause-button-fg.gif');
}
.cc_player_play:hover {
  background: url('ccmixter/pause-button-bg.gif');
}
.cc_player_pause {
  background: url('ccmixter/right-button-fg.gif');
}
.cc_player_pause:hover {
  background: url('ccmixter/right-button-bg.gif');
}
.cc_player_stop {
  background: url('ccmixter/stop-button-fg.gif');
}
.cc_player_stop:hover {
  background: url('ccmixter/stop-button-bg.gif');
}
