/*
* Creative Commons has made the contents of this file
* available under a CC-GNU-GPL license:
*
* http://creativecommons.org/licenses/GPL/2.0/
*
* A copy of the full license can be found as part of this
* distribution in the file LICENSE.TXT.
* 
* You may use the ccHost software in accordance with the
* terms of that license. You agree that you are solely 
* responsible for your use of the ccHost software and you
* represent and warrant to Creative Commons that your use
* of the ccHost software will comply with the CC-GNU-GPL.
*
* $Id$
*
*/

body {
    margin:10px;
    font-family:verdana;
    background: url("ccmixter/bg_head.gif") repeat-x;
}


img, table {
    border-width: 0px;
}

a {
    color:#005080;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}


/*cc_header stuff */

#cc_header {
  font-family: verdana, sans-serif;
}

#cc_header form label, #cc_header form input, #cc_header form #cc_submit {
  font-size: 90%;
}

#cc_header {
  background: white url("ccmixter/bg_header_bottom_left.png") bottom left repeat-x;
  position: relative;
  min-height: 39px;
  height: 5em;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  voice-family: "\"}\"";
  voice-family: inherit;
  height: 3.45em;
  padding: 15px 0;
} 


#cc_header h1 {
  position: absolute;
  top: 0;
  left:0;
  margin: 0;
  padding:0.9em 0 0 0.3em;
  font-size: 32px;
  background: url("ccmixter/bg_header_top_left.gif") top left no-repeat;
  height: 48px;
  z-index: 100; /* above the UL */
}
#cc_header h1 a {
  display: block;
  width: 330px;
  height: 60px;
 text-decoration: none;
}

#cc_header p {
    position: absolute;
    font-size:11px;
    color:#ccc;
    margin:0;
    padding:4.2em 0 0 1em;
}
/* Search Field */

#cc_header form {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 20px 0 0;
  background: url("ccmixter/bg_header_top_right.gif") no-repeat top right;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
}
#cc_header form label {
  color: #fff;
  font-weight: bold;
}
#cc_header form #cc_submit {
  background: #82919e;
  color: #fff;
  padding: 1px 4px;
  border-right: 1px solid #4c5862;
  border-bottom: 1px solid #4c5862;
  border-top: 1px solid #9fabb5;
  border-left: 1px solid #9fabb5;
}
#cc_header form #search_text {
  width: 170px;
  font-size: 85%;
  border:  1px solid #9097A2;
  background: #EAEBEB url('ccmixter/bg_input.png') bottom repeat-x;
  padding: 2px;
}
#cc_header form #search_text:hover, #cc_header form #search_text:focus {
  background: #fff;
}


#cc_site_name, #cc_site_name a, #cc_header a {
  color: #fff;
  text-decoration: none;
}
#cc_site_name {
  margin: 4px 0 0 4px;
  font-size: 2.5em;
  font-weight: bold;
}

/*cc_header nav */
#cc_header ul, #cc_sub_header ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
}

#cc_header ul {
  width: auto;
  right: 0;
  padding: 0 15px 0 0;
  z-index: 90; /* below the H1 */
}

#cc_sub_header {
  position: relative;
  height: 33px;
  margin-bottom: 12px;
}

#cc_sub_header ul {
  width: 100%;
  padding: 0px;
  left: 0;
  border-right: solid 1px white;
  /* background: url("ccmixter/sub_tab_bottom.gif") repeat-x bottom; */
}

#cc_header li, #cc_sub_header li {
  float: right;
  background: transparent url("ccmixter/header_tab.gif") 100% -600px no-repeat;
  padding: 0 6px 0 0;
  margin: 0 1px 0 0;
  display: inline;
  white-space: nowrap;
  border-bottom: 1px solid #515358;
  font-size:14px;
}

#cc_sub_header li {
  float: left;
}

#cc_header ul a, #cc_sub_header ul a  {
  float: left;
  display: block;
  padding: 4px 4px 4px 10px;
  background: transparent url("ccmixter/header_tab.gif") 0% -600px no-repeat;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#cc_header ul li:hover a, #cc_sub_header ul li:hover a {
  background-position: 0% -400px;
}

#cc_header ul li:hover, #cc_sub_header ul li:hover {
  background-position: 100% -400px;
}

#cc_header ul li.selected_tab a, #cc_sub_header ul li.selected_tab a {
  background: transparent url("ccmixter/header_tab.gif") 0% 0px no-repeat;
  color:#036;
}

#cc_header ul li.selected_tab, #cc_sub_header ul li.selected_tab  {
  background: transparent url("ccmixter/header_tab.gif") 100% 0px no-repeat;
  border-bottom: 1px solid white;
}

.cc_header
{
    margin                : 0px;
    padding                : 0px;
    color                : #000;
    background-color    : transparent;
    border                : 0;
}

#cc_search   {
  font-size: 100%;
}

#cc_search form {
  margin: 0 6px;
  padding: 0;
  padding-bottom: 4.0em;
}
#cc_search .cc_form_text {
  margin: 0;
  padding: 2px;
  width: 100px;
  border: 1px solid #1395D2;
}
#cc_search .cc_form_submit {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
    
#cc_content {
    width:100%;
    float:left;
    font-size:11px;
}

#cc_leftside {
    float:left;
    width:17%; 
    min-width:150px;
}

#cc_centercontent {
    float:left;
    width:73%; 
}

#cc_centercontent h1, #page_title {
    font-size:20px;
    font-weight:normal;
    font-family:arial;
    color:#999;
    border-bottom:1px solid #ccc;
    margin-bottom:6px; 
    margin-right:10px;
}

#page_title {
	color: red;
}
 
    /* IE5 needs shifting up - and #empty to clear its parsing palette */
* html body .cc_header
{
    margin-bottom        : -19px;
    font-family            : "\"}\"";
    font-family            : inherit;
    margin-bottom        : 0px;
}

#cc_wrapper1 {
    min-width: 710px;
    /*max-width: 1200px;*/
    }

#cc_wrapper1, #cc_wrapper2
    {
    margin                : 0px;
    padding                : 0px;
    }

.cc_hide {
  overflow: hidden;
  visibility: hidden;
  display: none;
  clear: none;
}    

.cc_headerpadding, .centerpadding
    {
    margin                : 0px;
    padding                : 0px;
    }
    
    
    /* IE min-width trick */
    div#cc_wrapper1 { 
      width:expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) < 720 ? "720px" : "auto"); 
      }
       
/* footer stuff */
      
 /* set millions of background images */
.cc_rbroundbox { background: url('ccmixter/nt.gif') repeat; }
.cc_rbtop div { background: url('ccmixter/tl.gif') no-repeat top left; }
.cc_rbtop { background: url('ccmixter/tr.gif') no-repeat top right; }
.cc_rbbot div { background: url('ccmixter/bl.gif') no-repeat bottom left; }
.cc_rbbot { background: url('ccmixter/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.cc_rbtop div, .cc_rbtop, .cc_rbbot div, .cc_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.cc_rbroundbox { width: 100%; margin: 1em auto; }
.cc_rbcontent { 
        text-align:center; 
        color:#999;
        font-size:11px;
        margin-left:auto;
        margin-right:auto;
        padding-right:20px;
        padding-bottom:5px;
        min-height: 25px;        
        }
        
.cc_rbcontent a {
    color:#666;
}

.cc_tinytext {
    text-align:left;
}


/*left sidebar styles*/

.cc_sidebar {
    font-size:11px;
    font-weight:bold;
    font-family:arial;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.cc_sidebar p {
    margin-bottom:0px;
}

.cc_sidebar ul {
        list-style: none;
        margin: 0px 0px 0px 10px;
        padding: 0;
        border: none;
        }

.cc_sidebar a {
    text-decoration:none;
}

/* comment thread embedded in works page */
.cc_post_date
{
    white-space: nowrap;
    font-style: italic;
    color: #777;
}

.cc_posts_container th
{
    text-align: right;
}

.cc_posts_container th, .cc_posts_container td
{
    vertical-align: top;
}

.cc_reply_topic_link
{
    margin-left: 40%;
    padding-bottom: 25px;
    display: block;
}

.cc_user_admin_link, .cc_user_admin_link:visited {
    color: brown;
	font-weight: bold;
}

.cc_php_error_message, .cc_system_error_message {
    display: block;
    padding: 5px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    color: red;
    font-family: Courier New, courier, serif;
    border: 1px solid red;
    text-align: center;
}

.cc_system_error_message {
    font-family: arial, sans serif;
}


a.cc_external_link  {
    background-image: url('../ccimages/remote.gif');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

.cc_feed_button {
	background: url('../ccimages/feed-icon16x16.png') no-repeat top left;
	height: 19px;
	padding-left: 18px;
	margin: 0px;
	font-weight: bold;
	font-variant: small-caps;
    color: #888;
	font-size: 12px;
}

.cc_feed_link {
    display: block;
    font-weight: normal;
	padding: 0px;
	margin-bottom: 4px;
}

.cc_system_prompt {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    background: #DEF;
    color: #024;
}

.cc_system_prompt a
{
    display: block;
}


#ratings_score {
    margin-left: 6px;
    margin-right: 8px;
}

.cc_ratings_arrow {
	width: 17px;
	height: 17px;
	background: url('ccmixter/dleft-arrow.gif') top left no-repeat;
	float:left;
	padding-left: 20px;
	margin-left: 10px;
	color: orange;
	margin-top: 3px;
	font-weight: bold;
}

.cc_ratingslist {
	margin: 0px;
	padding: 0px;
}

.cc_ratingslist li {
    display: block;
    height: 17px; 
    width: 17px; 
    margin: 0px;
    float: left;
}

/* Empty selectors.... */
.cc_admin_menu {

}

.cc_admin_menu_help {

}

.cc_admin_menu_tip {

}

.cc_admin_menu_title {

}

.cc_beta_message {
    position: absolute;
    top: 8px;
    left: 360px;
    width: 220px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background: rgb(200,200,200);
    color: rgb(155,100,100);
    font-family: Verdana;
    font-size: 10px;
    padding: 3px;
}

.cc_beta_message a, .cc_beta_message a:visited
{
    color: white;
}

.cc_body_text {

}

#command_group_admin div
{
    font-size: smaller;
    margin: 1px;
    padding: 1px 3px 1px 5px;
    display: inline;
    border: 1px solid brown;
}

#command_group_admin a,#command_group_admin a:visited
{
    color: brown;
    display: inline;
}


/* contests */
.cc_contest_bitmap {
	margin: 5px;
}

.cc_contest_description {
	margin: 8px;
	font-style: italic;
}

.cc_contest_listing  {
	border-top: 2px solid #CCC;
	border-left: 2px solid #CCC;
	border-bottom: 8px solid #CCC;
	border-right: 12px solid #CCC;
	background-color: #EEF;
	padding: 5px;
	width: 88%;
	margin-bottom: 10px;
}

.cc_contest_vote_frame {
}

.cc_contest_open {
	font-weight: bold;
	color: green;
	margin-bottom: 4px;
}

.cc_contest_closed {
	font-weight: bold;
	color: brown;
}

.cc_contest_voting_status {
	font-weight: bold;
	color: green;
}

#pollsform td {
	white-space: nowrap;
	padding-bottom: 4px;
	color: white;
	font-weight: bold;
}

#pollsform {
	padding: 6px;
	border-top: 2px solid #AAA;
	border-right: 2px solid #AAA;
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #88A;
	margin: 4px;
}

.cc_poll_entry {
	white-space: nowrap;
	margin-bottom: 12px;
}

.cc_polling_bar {
	margin-top: 2px;
	background-color: black;
}

.cc_polling_data {
	width: 50%;
}


/* end contests */

.cc_custom_head {

}

.cc_custom_macros {
    margin-top: 4px;
    margin-bottom: 10px;
}

.cc_email_contact {

}

.cc_email_link {

}


.cc_form {
    margin-top: 40px;
}

.cc_form_about, .cc_remix_license_notice, .cc_system_prompt {
    margin: 8px;
    border: #999 dotted 1px;
    padding: 8px;
    font-size: 13px;
    color: rgb(80,80,110);
    font-family: Courier New, courier, serif;
    margin-left: 15%;
    width: 70%;
}

input.cc_form_input_short {
    width: 80px;
}

.cc_form_error_input, input.cc_form_error_input {
    background: #FDD;
    border: 1px solid red;
}

/* date form field */
.cc_date_field {
}

.cc_form_element {
    vertical-align: top;
	padding-bottom: 12px;
}

.cc_form_error {
    font-weight: bold;
    color: red;
    white-space: nowrap;
}

.cc_form_error_row {
    border: 1px solid red;
    padding: 2px;
}

.cc_form_input {
    width: 320px;
}

.cc_form_input_short {

}

.cc_form_label {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    width: 40%;
	padding-bottom: 19px;
}

.cc_form_row {
    
}

.cc_form_submit {
    margin-left: 40%;
}

.cc_form_table {

}

.cc_form_tip {
    font-weight: normal;
}

.cc_grid_form_header {

}

.cc_grid_form_header_row {

}

.cc_grid_form_table {

}

.cc_howididit
{
    width: 70%;
}

.cc_howididit th
{
    background: black;
    color: white;
    font-family: New Courier, courier, serif;
    padding: 11px 2px 2px 11px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.cc_howididit td
{
    /* border: 1px solid black; */
    padding: 10px 10px 22px 22px;
    font-size: 11px;
    font-family: New Courier, courier, serif;

}    

.cc_image_thumbnail {

}

.cc_image_thumbnail_img {

}

.cc_image_thumbnail_title {

}

#cc_license_image {
    border: none; 
    float: left; 
    margin-left: 20px; 
    padding-right: 8px;
}

.cc_link_table {
    margin-left: 40px;
}

.cc_link_table th {
    text-align: right;
}

.cc_link_table td {
    padding-left: 15px;
}

.cc_list_link_next {
	margin-top: 8px;
}

.cc_list_link_prev {
	margin-top: 8px;

}

.cc_log_view
{
    margin: 12px;
}


.cc_log_view td, .cc_log_view th
{
    padding: 0px 18px 4px 0px;
}

.cc_log_view th
{
    padding-bottom: 8px;
    border-bottom: 1px dashed blue;
}

.cc_log_view b
{
    font-variant: small-caps;
    font-weight: normal;
    color: blue;
}

.cc_logged_in_as {
	float: right;
	display: inline;
	padding-bottom: 0;
	padding-right: 10px;
	margin: 0;
	font-size: 11px;
	font-weight:bold;
}

.cc_logged_in_name {
    display: inline;
	padding-right: 4px;
}

.cc_macro_pattern {
	text-align: left;
	color: #777;
}

.cc_macro_pattern_label {

}

.cc_macro_patterns {
	padding: 0px;
	float: left;
	font-size: 10px;
}

#adminrename .cc_form_table {
    margin-left: 20px;
    }
#admintaggerform #form_submit, #adminrename #form_submit
{
    margin-left: 20px;
    clear: none;
}


.cc_podcast_link {
    /* text-align: center; */
    /*
    width: 160px;
    background: orange;
    border: 1px solid black;
    padding: 2px;
    */
    width: 100%;
    background-image: url('ccmixter/mixter-button-o.gif');
    background-repeat: no-repeat;
    margin-bottom: 2px;
    height: 30px;
    padding-top: 4px;
    padding-left: 11px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
}

.cc_podcast_link a,.cc_podcast_link a:visited,.cc_podcast_link a:hover
{
    color: white;
    text-decoration: none;
}


.cc_stream_page_link {
    /*    
    text-align: center;
    */
    width: 100%;
    background-image: url('ccmixter/mixter-button-b.gif');
    background-repeat: no-repeat;
    margin-bottom: 2px;
    height: 30px;
    padding-top: 4px;
    padding-left: 11px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;

}

.cc_stream_page_link a,.cc_stream_page_link a:visited,.cc_stream_page_link a:hover
{
    color: white;
    text-decoration: none;
}

#edpick_stream_links td {
	width: 135px;
}

.cc_submit_forms
{
    width: 70%;
    margin: 4%;
    padding: 5px;
    border: 1px solid rgb(170,170,200);
}

.cc_submit_forms_outer img
{
    float: left;
    margin: 10px;
}

.cc_submit_forms_outer h2 { }
.cc_submit_form_help 
{ 
    line-height: 110%;
    font-size: 13px;
}

.cc_submit_form_url 
{ 
    margin: 7px;
    text-align: center;
    font-size: 14px;
}

.cc_submit_form_message {
    height: 150px;
    border: 2px solid #666;
    padding: 3% 20px 0px 20px;
    margin-left: 200px;
    float: left;
    font-size: 13px;
}



.cc_tag_count {
	white-space: nowrap;
}

.cc_tags_list {
    width: 130px;
    position: absolute;
    right: 0px;
    border: 1px solid black;
    padding: 4px;
    margin-right: 19px;
    margin-top: 20px;
}

.cc_tag_switch_link {
	float:right;
}

.cc_user_favs_link {

}

.cc_user_index {
	margin: 7px;
	border: 1px solid #BBC;
	padding: 3px;
}

.cc_user_listing_table {
	margin-bottom: 42px;
}

.cc_user_listing_table td {
	padding-left: 12px;
}

.cc_user_listing_table th {
	text-align: right;
	white-space: nowrap;
	background: #DDE;
	border: 1px solid #BBC;
	padding-left: 15px;
}

.cc_user_listing_table  .cc_user_avatar {
	vertical-align: middle;
	text-align: center;
	background: #DDE;
	border: 1px solid #BBC;
	width: 100px;
	height: 100px;
}

.cc_user_short_listing h3 {
	margin: 2px;
}

.cc_user_short_listing .cc_user_name {
	font-weight: bold;
}

.cc_user_short_listing  .cc_user_avatar {
	margin-bottom: 3px;
}


/* fancy button */
a.cc_gen_button {
    display: block;
    background: url('ccmixter/buttonleft.gif') no-repeat left top;
    padding: 0 0 0 5px;
    text-decoration: none;
    color: #666;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 9px;
    font-weight: normal;
    cursor: pointer;
}

a.cc_gen_button span {
    display: block;
    text-align: center;
    padding: 5px 7px 6px 2px;
    background: url('ccmixter/plainright.gif') no-repeat right top;
}

a.cc_gen_button:hover {
    background-position: 0% -23px;
    color:black;
}

a.cc_gen_button:hover span {
    background-position: 100% -23px;
}


/* Download / Stream Buttons */

a#cc_downloadbutton, a#ratingscommand, a#commentcommand, a#replyremix  {
    float: left;
    display: block;
    background: url('ccmixter/buttonleft.gif') no-repeat left top;
    padding: 0 0 0 5px;
    text-decoration: none;
    color: #666;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
	margin-bottom: 7px;
}


a#ratingscommand, a#commentcommand, a#replyremix {
	font-size: 9px;
	font-weight: normal;
	margin-bottom: 6px;
}

a#cc_downloadbutton span, a#ratingscommand span, a#commentcommand span, a#replyremix span {
    display: block;
    text-align: center;
    padding: 5px 23px 5px 2px;
    background: url('ccmixter/downloadright.gif') no-repeat right top;
}

a#ratingscommand span, a#commentcommand span, a#replyremix span {
    padding: 5px 7px 6px 2px;
    background: url('ccmixter/plainright.gif') no-repeat right top;
}

a#cc_downloadbutton:hover, a#ratingscommand:hover, a#commentcommand:hover, a#replyremix:hover {
    background-position: 0% -23px;
    color:black;
}

a#cc_downloadbutton:hover span, a#ratingscommand:hover span, 
a#commentcommand:hover span, a#replyremix:hover span {
    background-position: 100% -23px;
}

a#cc_streamfile {
    float: left;
    display: block;
    background: url('ccmixter/buttonleft.gif') no-repeat left top;
    padding: 0 0 0 5px;
    text-decoration: none;
    color: #666;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    margin-right:10px;
    margin-bottom: 8px;
}


a#cc_streamfile span {
    display: block;
    text-align: center;
    padding: 5px 23px 5px 2px;
    background: url('ccmixter/streamright.gif') no-repeat right top;
}

a#cc_streamfile:hover {
    background-position: 0% -23px;
    color:black;
}

a#cc_streamfile:hover span {
    background-position: 100% -23px;
}

.cc_works_page  #cc_action_buttons a#cc_streamfile,
.cc_works_page  #cc_action_buttons a#cc_downloadbutton,
.cc_works_page  #cc_action_buttons a#ratingscommand,
.cc_works_page  #cc_action_buttons a#commentcommand,
.cc_works_page  #cc_action_buttons a#replyremix
{
    float: none;
    margin: 7px 0px 3px 0px;
	display: block;
}

.cc_works_page #cc_action_buttons a {
    
}

.cc_file_download_popup {
    border: 1px solid black;
    background: #DDF;
    padding: 9px;
	z-index: 4;
}

.cc_file_download_popup p {
    float: none;
    text-align: left;
    white-space: nowrap;
}

.cc_file_download_popup #cc_stream_file {
    margin-bottom: 4px;
    float:none;
}

.cc_file_download_popup #cc_downloadbutton {
    margin-bottom: 4px;
    float:none;
}

/* Record Listing */

#cc_record_listing {
    padding-right:5px;
    padding-bottom:3px;

}
        
div.cc_record_listing_chopped {
	width: 90%;
}

p#cc_record_listing_chopped {
	width: 80%;
}

#cc_record_listing h2 {
    margin-top:0px;
    padding-top:0px;
    margin-bottom:2px;
    padding-bottom:0px;
    font-size:13px;
}        

#cc_record_listing h2 a {
	color: brown;
}        
        
.cc_name_ban {
   text-decoration: line-through;
   color: red;
   font-weight: normal;
}

.cc_name_hidden {
   text-decoration: line-through;
   color: #555;
   font-weight: normal;
}

p.cc_small_byline {
    font-size:11px;    
    margin-top:0px;
    margin-bottom:0px;
	color: black;
}        

.cc_small_byline a {
    color:#990000;
}

.cc_small_byline span {
	display: block;
	white-space: nowrap;
}

.cc_user_link {
    font-weight:bold;
}

.cc_pick_link {
    white-space: nowrap;
    margin: 0px;
    font-weight: bold;
}

.cc_pick_link img {
	vertical-align: middle;
}


#cc_file_info {
    float:left;
    width:40%;
}

#cc_file_info th {
	white-space: nowrap;
	text-align: right;
	padding-right: 3px;
	vertical-align: top;
	color: #AAA;
}

.cc_works_page #cc_file_info {
    width: 60%;
	margin-bottom: 12px;
}

.cc_comment_topic_head #cc_file_info {
    width: 77%;
}
#cc_action_buttons {
    float:left;
    width:18%;
	margin: 0px;
}

.cc_works_page #cc_action_buttons {
    float: right;
    width: 20%;
}

div.cc_record_listing_chopped #cc_action_buttons {
	width: 21%;
}

.cc_works_page #cc_action_buttons p {
	margin-top: 2px;
	margin-bottom: 2px;
}

#cc_sample_history {
    float:left;
    width:37%;
}

#cc_history_wrapper {
    padding-top: 6px;
	overflow: hidden;
	width: 98%;
	margin: 0px;
}

.cc_remix_more_link {
	background: #DDE;
	float: right;
	font-weight: normal;
	padding: 2px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	margin: 2px;
}

.cc_remix_more_link:hover {
	background: #EEF;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	text-decoration: none;
}
 

#cc_sample_history p {
    /* white-space: nowrap; */
}

.cc_works_page #cc_sample_history
{
    float: none;
    width: 75%;
}

div.cc_record_listing_chopped #cc_sample_history {
	width: 35%;
	margin-right: 0px;
}

.cc_buttonpadding {
    padding:1px 3px 0px 3px;
}


#cc_upstream_mixes {
    background:#eee;
    border:1px solid #ccc;
    margin-bottom:4px;
    padding:3px;
    background-image: url('ccmixter/uploadicon.gif');
    background-repeat: no-repeat;
    background-position: top right;    
}

.cc_works_page #cc_upstream_mixes {
    background-image: url('ccmixter/uploadicon-big.gif');
    font-size: 12px;
	margin-top: 15px;
	padding: 3px;
}

#cc_upstream_mixes p {
    margin-top:0px;
    margin-bottom:2px;
}

p#noonesampled {
	display: block;
	margin-bottom: 15px;
	font-style: italic;
}

#cc_sample_history h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px
}

.cc_works_page #cc_sample_history h3 {
    margin-top: 2px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

#cc_downstream_mixes {
    background:#ddd;
    border:1px solid #aaa;
    margin-bottom:4px;
    padding:3px;
    background-image: url('ccmixter/downloadicon.gif');
    background-repeat: no-repeat;
    background-position: top right;    
}

.cc_works_page #cc_downstream_mixes {
    background-image: url('ccmixter/downloadicon-big.gif');
    font-size: 12px;
	padding: 4px;
}

#cc_downstream_mixes p {
    margin-top:0px;
    margin-bottom:2px;
}


/* special cases for submit remix form */

#postremixform #cc_downstream_mixes 
{
    width: 80%;
    background-image: url('ccmixter/downloadicon-big.gif');
}

#postremixform #cc_downstream_mixes label
{
    color: green;
    font-weight: bold;
}

.cc_remix_search_result p {
    margin-left: 20px;
    color: #555;
}


.cc_remix_search_result {
    margin-bottom: 13px;
}

.cc_remix_search_limit_msg {
	float: right;
	font-style: italic;
}

.cc_remix_check {
    display: inline;
}

.cc_remix_license_notice {

}

.cc_remix_search_result
{
    border-top: 1px solid #555;
    margin-top: 22px;
    padding-top: 7px;
}    

.cc_remix_search_box {
    margin-top: 34px;
    text-align: right;
    float: right;
}

.cc_rsearch_result {
	margin-top: 4px;
	/* border-top: 1px #BBB solid; */
	padding-top: 2px;
}

.cc_remix_source_choice {
    white-space: nowrap;

}
/*  end submit remix form */

.cc_postreply {
    padding-top:10px;
    padding-bottom: 8px;
    font-size: 11px;
}

.cc_works_page .cc_postreply {
	padding-bottom: 18px;
	margin-bottom: 10px;
    font-size: 12px;
}

.cc_postreply a {
    color:green;
    font-weight:bold;
}


p.cc_songbreak {
    border-bottom:1px solid #ccc; 
    margin: 0px 0px 3px 0px;
	font-size: 2px;
}

.cc_search_result_info {
    margin: 5px;
    font-style: italic;
    color: #888;
}

.cc_search_result_info span {
    font-weight: bold;
    color: green;
}

/* victor's bogus box */
.cc_box {
    margin: 11px;
    border: 1px solid #666;
    padding: 0px;
    width: 60%;
}

.cc_box h3 {
    background: #666;
    padding: 2px 0px 2px 12px;
    color: white;
    margin: 0px;
    font-size: 12px;
    font-style: italic;
}

.cc_box p {
   padding: 10px;
   margin: 0px;
}

.cc_howididit .cc_box {
   width: 90%;
}


/* Editorial Picks */

.cc_pick_ed_name
{
  font-style:italic;
  font-size: 15px;
  color:     #66B;
  font-weight: bold;
}

.cc_pick_song_label
{
    padding: 3px;
    text-align: center;
    height: 58px;
    width: 30px;
}

.cc_pick_ed_table
{
  border: 1px solid #CCE; 
  margin: 8px 9px 0px 30px;
  width: 100%;
}

.cc_pick_ed_table h2
{
    font-size: 14px;
	padding-left: 5px;
}

.cc_pick_ed_table p
{
	padding-left: 5px;
}

.cc_pick_head
{
 width: 100%;
  border-top: 1px solid #CCE; 
  background: #DDE; 
  padding: 6px;
}

.cc_pick_text
{
   width: 100%;
  font-size: 13px;
  padding:7px 14px 10px 30px; 
  border-top:1px solid #CCE; 
  background:rgb(230,230,255);
}

.cc_pick_editor
{
  width: 85%;
  height: 260px;
  margin: 7px;
}


.cc_pick_editor_listing
{
    width: 85%;
    margin-bottom: 10px;
}


.cc_pick_song_listing
{
    margin-left: 14px;
    margin-top: 10px;
}


.cc_pick_song_listing h2
{
    margin-bottom: 2px;
}


.cc_pick_editor_td
{
  vertical-align:top;
  width: 40%;
  text-align: right;
  background: #EEE;
  padding: 8px;
}


.cc_pick_song_td
{
    border-right: 6px solid #EEE;
    border-bottom: 6px solid #EEE;
}


.cc_pick_song_list_head
{
	padding: 8px;
	font-weight: bold;
	background: #EEE;
}

.cc_pick_synops
{
    padding-left: 24px;
    font-size: 11px;
    margin-bottom: 8px;
    font-style: italic;
}

/* Manage Files Page */

#cc_edit_files {
    margin-top: 20px;
    border: 1px solid #CCE;
}

#cc_edit_files td {
    padding: 5px;
    font-size: 14px;
    padding-top: 8px;
    vertical-align: top;
}

#cc_edit_files th {
    font-size: 14px;
    text-align: right;
    padding-top: 8px;
    vertical-align: top;
    padding-left: 14px;
    font-weight: normal;
}

#cc_edit_files a {
    font-weight: bold;
}

#cc_edit_files #movedownfile,
#cc_edit_files #moveupfile,
#cc_edit_files #deletefile,
#cc_edit_files #uploadmore {
    border: 1px solid #CCE;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
}

#cc_edit_files #movedownfile:hover,
#cc_edit_files #moveupfile:hover,
#cc_edit_files #deletefile:hover,
#cc_edit_files #uploadmore:hover {
    text-decoration: none;
    border: 1px solid #88A;
    background-color: #CCE;
}

/* pools */

.cc_pool_info {
	font-family: Arial;
	float: right;
	width: 30%;
}

.cc_pool_info span {
	display: block;
	white-space: nowrap;
}

.cc_pool_info #poollink {
	font-size: 11px;
	font-family: Courier New, courier, serif;
	color: blue;
}

.cc_pool_info #pooldesc {
	margin: 4px;
	font-style: italic;
}

.cc_pool_info .cc_rbcontent {
	padding: 3px 8px 4px 8px;
	color: #555;
}

.cc_pool_item_listing {
	margin: 4px 0px 10px 15px;
	border-left: 2px solid #BBB;
	border-bottom: 12px solid #BBB;
	border-right: 12px solid #BBB;
	border-top: 2px solid #BBB;
	width: 60%;
	background: url('ccmixter/nt.gif') repeat; 
	padding: 4px 4px 8px 15px;
}
.cc_pool_item_listing h2 {
	margin: 2px;
}

.cc_pool_item_listing p.cc_small_by_line {
	margin: 2px;
	font-style: italic;
}

.cc_pool_item_listing p {
	margin: 2px;
}

.cc_pool_item_listing  #cc_upstream_mixes {
}
      
.cc_pool_item_listing  #cc_upstream_mixes h3 {
	margin: 3px;
}
 
 .cc_pool_item_listing  #cc_upstream_mixes p {
	margin: 3px;
}

/* banned/unplished works */

.cc_upload_not_published, .cc_upload_banned {
	padding: 4px;
	margin: 4px;
	font-style: italic;
	color: red;
	border: 1px solid red;
	width: 60%;
}

/* back/more buttons */

#cc_prev_next_links {
	margin: 20px;
}

a#cc_adv_search {
	font-size: 9px;
	font-weight: normal;
	display: block;
	margin: -8px 0px 2px 0px;
}


#cc_tab {
   /* w: 101, h: 41 */
	position: absolute;
	top: 11px;
	left: 250px;
	background: url("ccmixter/cc-tab.gif") no-repeat;
	background-position: 0px -41px;
	width: 101px;
	height: 41px;
	font-size: 2px;
	z-index: 300;
}
#cc_tab a {
  display: block;
  width: 95%;
  height: 95%;
}

.cc_nsfw {
	margin-bottom: 4px;
	display: block;
}

.cc_nsfw a, .cc_nsfw a:visited {
	color: red;
}


.cc_alert {
    color: red;
}

.cc_strike {
    text-decoration: line-through;
}

a.cc_flag_url {
    background: url("ccmixter/flag-white.gif") no-repeat;
	display: block;
	float: right;
	margin-right: 13px;
	width: 10px;
	height: 10px;
}

a.cc_flag_url:hover {
    background: url("ccmixter/flag-red.gif") no-repeat;
	text-decoration: none;
}

a.cc_flag_link {
    color: #D99;
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	font-style: italic;
	float: left;
}
