/*
* Creative Commons has made the contents of this file
* available under a CC-GNU-GPL license:
*
* http://creativecommons.org/licenses/GPL/2.0/
*
* A copy of the full license can be found as part of this
* distribution in the file LICENSE.TXT.
* 
* You may use the ccHost software in accordance with the
* terms of that license. You agree that you are solely 
* responsible for your use of the ccHost software and you
* represent and warrant to Creative Commons that your use
* of the ccHost software will comply with the CC-GNU-GPL.
*
* $Id$
*
*/

.cc_topic_table {
	width: 90%;
}

.cc_topic_date {
	font-style: italic;
	float:left;
	white-space: nowrap;
	color: #555;
}

.cc_topic_reviewer {
    width: 100px;
	vertical-align: bottom;
	text-align: right;
	padding-bottom: 3px;
}

.cc_topic_header {
	padding: 12px 5px 3px 7px;
	vertical-align: bottom;
}

.cc_topic_avatar {
  vertical-align: top;
  text-align: center;
  padding-top: 0px;
  width: 100px;
  height: 100px;
}

.cc_review_count {
  padding-bottom: 2px;
  font-size: smaller;
  text-align: right;
  padding-right: 3px;
}

.cc_topic_admin {
  font-variant: small-caps;
} 

.cc_topic_text {
  padding: 5px;
  vertical-align: top;
  border-top: 1px #ccF solid;
  border-left: 1px #ccF solid;
  border-right: 1px #448 solid;
  background: #DDE;
}

.cc_topic_cmds {
  border-right: 1px #448 solid;
  border-left: 1px #ccF solid;
  border-bottom: 1px #448 solid;
  background: #DDE;
  vertical-align: bottom;
}

.cc_topic_page #cc_file_info {
	width: 70%;
}
.cc_topic_page {
 }

.cc_topic_cmds #commentcommand {
	 float: right;
}

.cc_topic_cmd {
  margin: 1px 4px 2px 1px;
}

.cc_topic_permalink {
  float: right;
  font-size: 9px;
  display: block;
  color: #88C;
}

.cc_topic_text_div {
   margin: 0px;
   padding: 0px;
}

.cc_topic_child_branch {
	background: url('ccmixter/reply-arrow.gif') top right no-repeat;
	width: 50px;
	height: 40px;
}

.cc_topic_child_table {
  width: 98%;
 }

 .cc_topic_deleted {
   color: #999;
}

.cc_topic_thumb {
  padding: 3px 0px 8px 8px;
  color: #446;
  font-style: italic;
}

.cc_topic_table a.cc_file_link {
  font-weight: bold;
  color: brown;
}

.cc_topic_table a.cc_hot_review {
  font-weight: bold;
  color: green;
}

#cc_hot_topic_picker {
  font-size: 11px;
}

.cc_topic_thumb_head {
   padding: 13px 0px 0px 9px;
   vertical-align: top;
}

.cc_topic_see {
  float:right;
}

.cc_topic_left {
  float: right;
}

.cc_topic_reply_count {
	text-align: center;
	color: green;
}


.cc_forum_short td {
  padding: 2px;
}

.cc_forum_short td span {
  font-style: italic;
  color: #777;
}

.cc_forum_short td a {
  font-weight: bold;
}


.cc_forum_index  {
	font-family: Verdana;
	font-size: 11px;
	width: 85%;
}

.cc_forum_index td {
	vertical-align: top;
}

.cc_forum_index  .cc_forum_name {
   padding-left: 40px;
}

.cc_forum_index  .cc_forum_description {
   padding-bottom: 20px;
   font-weight: normal;
   font-size: 11px;
   font-family: Verdana;
}


.cc_forum_group_name {
   margin: 20px 0px 4px 0px;
   padding: 4px;
   text-align: left;
   font-size: 14px;
   color: #444;
   letter-spacing: 0.2em;
   border-top: 1px #bbb solid;
   border-left: 1px #bbb solid;
   border-bottom: 1px #333 solid;
   border-right: 1px #333 solid;

 }

.cc_forum_col_head {
	font-size: 9px;
	font-weight: normal;
	color: #888;
}

.cc_forum_index .cc_forum_name {
	width: 45%;
   padding-top: 6px;
   font-size: 12px;
   font-weight: bold;
 }

.cc_forum_cmds {
	
}

.cc_forum_latest_reply {
   display: block;
   background: no-repeat url('ccmixter/goto-topic.gif') left top;
   padding-left: 22px;
}

.cc_forum_sticky {
   display: block; 
   background: no-repeat url('ccmixter/dright-arrow.gif') left top;
   padding-right: 12px;
   font-size: 20px;
   float:left;
}

.cc_forum_msg {
   font-style: italic;
   color: #F88;
   font-family: Verdana;
   font-size: 11px;
}

.cc_forum_listing {
	margin: 5px 0px 0px 7px;
	width: 90%;
}

.cc_forum_listing .cc_topic_name {
	font-variant: small-caps;
	font-weight: bold;
}

.cc_forum_listing td {
  vertical-align: top;
  border-top: 1px solid #CCC;
  padding: 4px 4px 13px 4px;
}

.cc_forum_listing th {
  vertical-align: bottom;
  padding: 0px 4px 13px 4px;
}
