
body {
	margin: 0px;
	padding: 0px;
}

body, td, ul {
	font-size: 0.9em;
}

img {
	border: 0px;
}

a, a:link, a:visited {
	text-decoration: none;
}

.hide {
	display: none;
}

#header {
	padding: 3px 4px 3px 0px;
}

#site_title {
	margin: 0px 0px 0px 2em;
}

#site_title a {
	text-decoration: none;
}

#site_description {
	margin: 0px 0px 0px 2em;
	font-size: 0.8em;
}

#header_search {
	float: right;
	text-align: right;
	margin: 0px 14px;
}

#header_search h3 {
	font-size: 0.8em;
	margin: 0.3em 0em; 
}

#header_search span {
	font-size: 0.5em;
}

#login_info {
	float: right;
}

#tabs {
	margin: 1em 2em;
	padding: 0px;
	list-style: none;
}

#tabs li a {
	font-size: 0.9em;
	text-decoration: none;
	font-weight: bold;
}

#tabs li a, 
#tabs li a:visited
{
	color: black;
}

#sub_tabs li.selected_tab a,
#tabs li.selected_tab a
{
	color: #BBB;
}

/*

#sub_tabs {
	list-style: none;
	font-size: 0.9em;
	padding: 0px;
	margin: 0px;
	height: 1.4em;
	margin: 1.5em;
}

#sub_tabs li a {
	text-decoration: none;
	font-weight: bold;
}

#sub_tabs li a, 
#sub_tabs li a:visited 
{
	color: black;
}

*/

.menu_group p {
	margin: 0.3em 0.1em 0.1em 0.1em;
	font-weight: bold;
}

.menu_group ul {
	margin: 6px;
	padding: 0px;
	list-style: none;
}

.menu_group li {
	margin: 0px;
	padding: 0px;
}

.menu_group li a, 
.menu_group li a:visited, 
a.cc_more_menu_link {
	text-decoration: none;
}

a.cc_more_menu_link {
	font-style: italic;
}

#page_footer img {
	float: left;
	margin: 6px;
}

.taglinks {
	font-size: 0.65em;
}

.cc_form_table td {
	vertical-align: top;
}

.cc_form_label {
	width: 25%;
	text-align: right;
	font-size: 0.65em;
}

.cc_form_label div {
	font-weight: bold;
}

.cc_form_input {
	width: 320px;
}

.cc_form_input short {
	width: 100px;
}

.cc_form_submit {
	margin-left: 40%;
}

