
body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	color: black;
	font-family: Verdana, arial, sans serif;
}

img {
	border: 0px;
}

a, a:link, a:visited {
}

h1, h2, h3, ul {
	font-family: arial;
}

.hide {
	display: none;
}

#site_title {
	margin-left: 4em;
}

#site_title a {
	text-decoration: none;
}

#banner_search {
	float: right;
	text-align: right;
	margin: 0px 14px;
}

#banner_search h3 {
	font-size: 0.8em;
	margin: 0.3em 0em;
}

#banner_search span {
	font-size: 0.5em;
}

#login_info {
	float: right;
}

#tabs {
	margin: 1em 2em;
	padding: 0px;
	list-style: none;
	width: 85%;
}


#tabs li {
	margin: 0px 2em;
	padding: 0px;
	display: block;
	float: left;
}

#tabs li a {
	font-size: 1.0em;
	text-decoration: none;
	font-weight: bold;
}

#tabs li a, 
#tabs li a:visited,
#sub_tabs li a, 
#sub_tabs li a:visited 
{
	color: black;
}

#tabs li.selected_tab a, 
#sub_tabs li.selected_tab a
{
	color: #BBB;
}

.post_tab_breaker {
	clear: both;
}

#sub_tabs {
	list-style: none;
	font-size: 0.7em;
	padding: 0px;
}

#sub_tabs li {
	padding: 0px;
	display: block;
	float: left;
	margin-right: 9px;
}

#sub_tabs li a {
	text-decoration: none;
	font-weight: bold;
}

.post_sub_tab_breaker {
	clear: left;
}

#menu {
	float: left;
	margin: 1.0em 2.0em;
}

.menu_group p {
	margin: 0.3em 0.1em 0.1em 0.1em;
	font-size: 0.8em;
	font-weight: bold;
}

.menu_group ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu_group li {
	margin: 0px;
	padding: 0px;
	font-size: 0.6em;
}

.menu_group li a, .menu_group li a:visited, a.cc_more_menu_link {
	text-decoration: none;
	color: black;
}

a.cc_more_menu_link {
	font-style: italic;
	font-size: 11px;
}

#main_content {
	width: 80%;
	overflow: hidden;
}

#footer {
	float: left;
	margin-top: 2em;
	margin-left: 7%;
	margin-bottom: 2em;
	font-size: 0.8em;
	width: 85%;
}

#footer img {
	float: left;
	margin: 6px;
}

.taglinks {
	font-size: 0.8em;
}

.cc_form_table td {
	vertical-align: top;
}

.cc_form_label {
	width: 25%;
	text-align: right;
	font-size: 0.6em;
}

.cc_form_label div {
	font-weight: bold;
}

.cc_form_input {
	width: 320px;
}

.cc_form_input short {
	width: 100px;
}

.cc_form_submit {
	margin-left: 40%;
}