
body {
	margin: 0px;
	padding: 0px;
}

body, td, input, select {
	font-size: 11px;
}

img {
	border: 0px;
}

a, a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.hide {
	display: none;
}

#header {
    
	padding: 1px 0px 0px 0;
	height: 102px;
	border-bottom: 1px solid #BBB;
	background: url('../images/header-main-b.png') bottom left repeat-x;
	margin-bottom: 12px;
}

#site_title {  /* in the header */
	margin: 14px 0px 3px 120px;
}

#site_description { display: none; } /* for now */

#header_search {
	float: right;
}

#header_search a {
	display: block;
}

#header_search_img {
    display: block;
}

#header_search h3 {
	font-size: 20px;
	font-family: Arial, arial, sans serif;
	margin: 3px 0px 0px;
}

#login_info {
	text-align: center;
	float: right;
	margin: 5px 24px;
}

#login_info span {
	font-weight: bold;
}

#login_info a {
	display: block;
	font-size: 1.2em;
}

h1, h2, h3 {
	line-height: 120%;
	font-family: Georgia,serif;
}

h2 {
	margin-top: 25px;
	line-height: 140%;
	margin-bottom: 12px;
	font-size: 175%;
}

#content h1 {
	padding: 0px 15px 10px 0px;
	margin: 0px;
	text-align: center;
	font-family: Verdana;
}

.post_content_breaker {
}

/*
	Navigation tabs
*/
#tabs {
	padding: 4px 0px 0px 100px;
	margin: 0px;
	display: block;
	position: absolute; 
	top: 71px;
	left: 0px;
	right: 0px;
	list-style-type: none;
	background: url('../images/tabbar-bg.png') top left repeat-x;
	line-height: 145%;
}

ul#tabs li { float: left; height: 2.4em;  margin: 0.2em 2px 0 2px; background: url("../images/tab-bg.png") repeat-x bottom left #f0f4f1; padding:0px;}
ul#tabs li.selected_tab { margin-top: 0; font-weight: bold; height: 2.7em; }

ul#tabs a {display: block; color: #333; background: url("../images/tab-body-dark.png") no-repeat top right ; text-decoration: none; }
ul#tabs a span { display: block; padding: 0.5em 1.4em 0.2em; padding-top: 0.7em; background: url("../images/tab-left-dark.png") no-repeat top left; }

ul#tabs a:hover {text-decoration: none; color: #333;  background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#tabs a:hover span { background: url("../images/tab-left-lit.png") no-repeat top left; }

ul#tabs li.selected_tab a { background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#tabs li.selected_tab a span { background: url("../images/tab-left-lit.png") no-repeat top left; padding-bottom: 0.4em; }


#sub_tabs {
	padding: 4px 0px 0px 100px;
	margin: 10px 0px 30px 0px;
	display: block;
	height: 20px;
	list-style-type: none;
	line-height: 145%;
}

ul#sub_tabs li { float: left; height: 2.4em;  margin: 0.2em 2px 0 2px; background: url("../images/tab-bg.png") repeat-x bottom left #f0f4f1; }
ul#sub_tabs li.selected_tab { margin-top: 0; font-weight: bold; height: 2.7em; }

ul#sub_tabs a {display: block; color: #333; background: url("../images/tab-body-dark.png") no-repeat top right ; text-decoration: none; }
ul#sub_tabs a span { border-bottom: 1px solid black; display: block; padding: 0.5em 1.4em 0.2em; padding-top: 0.7em; background: url("../images/tab-left-dark.png") no-repeat top left; }

ul#sub_tabs a:hover {text-decoration: none; color: #333;  background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#sub_tabs a:hover span { background: url("../images/tab-left-lit.png") no-repeat top left; }

ul#sub_tabs li.selected_tab a { background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#sub_tabs li.selected_tab a span { border-bottom: 0px; background: url("../images/tab-left-lit.png") no-repeat top left; padding-bottom: 0.4em; }



/*
	Main menu
#menu {
	width: 15%;
	position: absolute;
	right: 2px;
	top: 110px;
	overflow: hidden;
}
*/

.menu_group p {
	margin: 18px 0px 5px 0px;
	font-weight: bold;
	font-size: 1.1em;
}

.menu_group ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style-type: none;
}

.more_menu_link {
	margin: 0px 0px 0px 12px;
}

.menu_group ul li {
	margin: 0px;
	padding: 0px;
	font-size: 0.85em;
}

.menu_group ul li a, a.more_menu_link {
	text-decoration: none;
}

a.more_menu_link {
	font-style: italic;
}

.menu_group ul li a:hover, a.more_menu_link:hover {
	text-decoration: underline;
}

.menu_group #mi_stream_page, .menu_group #mi_play_page, .menu_group #mi_podcast_page {
	height: 20px;
	padding-left: 22px;
	display: block;
}

.menu_group #mi_play_page {
    margin-top: 5px;
}


#mi_stream_page {
	background: url('../../shared/images/menu-stream.png') top left no-repeat;
}
#mi_play_page {
	background: url('../../shared/images/menu-play.png') top left no-repeat;
}
#mi_podcast_page {
	background: url('../../shared/images/menu-podcast.png') top left no-repeat;
}

/*
	Client menu (typically admin)
*/

.client_menu {
	list-style: none;
}

.client_menu li {
	margin: 0px 0px 7px 0px;
}

.client_menu li a {
	font-weight: bold;
	font-size: 12px;
}

/*
	Footer
#page_footer {
	clear: both;
	margin: 14px 14px 6px 32px;
	width: 80%;
	padding: 10px;
}
*/

#license img {
	float: left;
	margin: 8px;
}

#license {
	margin: 12px;
}

/*
	Upload listing
*/
.upload_info {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
}

a.upload_link {
	font-weight: bold;
	font-size: 1.5em;
}


/*
	Forms
*/

.cc_form_table td {
	vertical-align: top;
	padding-bottom: 0.5em;
}

.cc_form_label {
	width: 30%;
	text-align: right;
}
.cc_form_label div {
	white-space: nowrap;
	font-weight: bold;
}

.cc_form_label span {
}

.cc_form_element {
}

.cc_form_input, .cc_form_error_input  {
	width: 250px;
}

.cc_form_input_short {
	width: 80px;
}

.cc_form_error {
	color: red;
}

.cc_form_error_input {
	background-color: pink;
}

.cc_form_tip {
	font-weight: normal;
	font-size: 0.7em;
	font-family: Arial, sans serif;
	padding-left: 1em;
}

.cc_form_submit {
	margin-left: 40%;
}
#cc_form_help_container {
	width: 600px;
}

/* submit forms page */

.cc_submit_forms_outer {
	margin: 0px auto;
	width: 520px;
}

.cc_submit_forms {
	margin-bottom: 10px;
}

.cc_submit_forms img {
	float: left;
	margin: 7px;
}

.cc_submit_form_help {
	text-align: justify;
}
.cc_submit_form_url {
	font-size: 1.4em;
	clear: left;
	margin: 9px;
	font-weight: bold;
	text-align: center;
}

.cc_quota_message {
	font-style: italic;
	font-weight: normal;
}
