.cc_playlist_line {
	background-color: #FFF;
	padding: 4px;
	font-size: 12px;
	cursor: pointer;
	background-color: #CCCCCC;
	margin-bottom: 2px;
	font-weight: bold;
}

.cc_playlist_line span {
    margin-left: 20px;
	font-weight: normal;
	font-style: italic;
	color: white;
}

.cc_playlist_sel {
    background-color: #C4985C;
    color: white;
}

.cc_playlist_detail {
    padding: 5px;
    border: 1px solid #C4985C;
}

.cc_playlist_popup, .cc_playlist_thinking {
    border: 1px solid black;
    background-color: #DDF;
    padding: 9px;
	z-index: 4;
	position: absolute;
	height: auto;
	width: auto;
}

.cc_playlist_thinking {
	font-size: 11px;
	background-color: #FFD;
}

a.cc_playlist_menu_item {
	display: block;
	margin: 4px;
}

.cc_playlist_name {
	font-weight: bold;
}

.cc_playlist_add_mi {
	font-style: italic;
}

.cc_playlist_feed {
	float: right;
	width: 19px;
	margin: 5px;
}

.gd_description div {
	white-space: normal;
}


.moveupdown{
	width: 18px;
	text-align:center;
	padding: 2px 4px 2px 4px;
}

div.cc_playlist_action  {
	padding: 2px 4px 2px 4px;
	background: #DDF;
	border: 1px solid #88A;
}

.cc_playlist_owner_menu {
	padding: 10px; 
	margin: 6px;
	list-style-type: none;
	background: #DDF;
	border: 1px solid #88A;
}

.cc_playlist_owner_menu li {
	margin-bottom: 2px;
}

.cc_playlist_owner_menu li a:hover {
	text-decoration: underline;
}

a.cc_playlist_i {
	background: url('../images/i-bg.png') no-repeat;
	width: 18px;
	height: 18px;
	margin: 0px 4px 0px 4px;
	display:block;
	cursor: pointer;
}

.cc_playlist_info {
	border: 1px solid black;
	background: white url("../images/bg_fade.gif") repeat-x;
	padding: 12px;
}

a.cc_playlist_i:hover {
	background: url('../images/i-fg.png') no-repeat;
}

.cc_pl_table {
   /* width: 720px; */
}

.trr {
  /* width: 700px; */
  height: 23px;
  clear: left;
}

.hrc {
  clear: left;
}

.cc_pl_table .tdc {
}

.tdc {
	vertical-align: top;
	padding-right: 10px;
	float: left;
	white-space: nowrap;
}


.cc_playlist_playlink {
	font-weight: bold;
}

.cc_playlist_title {
	font-size: 17px;
	font-weight: bold;
	margin: 4px;
	color: #C4985C;
}

.cc_playlist_date {
	color: #777;
	margin-left: 10px;
}

.cc_playlist_pcontainer {
   width: 215px;
   white-space: nowrap;
}

.cc_playlist_popup_window .cc_playlist_pcontainer {
   width: 35px;
   white-space: nowrap;
}

.cc_playlist_item {
	width: 353px;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 1px;
	border-bottom: 1px dotted #BBF;
}

.cc_playlist_item span a {
   color: brown;
   font-weight: bold;
}


/* filter form */
#dyn_filter_editor {
	margin: 14px 0px 0px 25px;
	width: 400px;
	padding: 9px;
}

#dyn_filter_editor, 
#dyn_filter_editor input,
#dyn_filter_editor select,
#dyn_filter_editor option {
	font-size: 11px;
}

#dyn_filter_editor .filterform span.th {
	width: 100px;
	font-weight: bold;
	text-align: right;
	display: block;
	float: left;
	margin-right: 12px;
}

#dyn_filter_editor .filterform div {
	margin-bottom: 14px;
}


#dyn_filter_editor .close_button {
	display: none;
}

#dyn_filter_editor .cc_autocomp_edit {
	margin: 4px 0px 5px 0px;
}

#dyn_filter_editor .cc_autocomp_list {
    background-color: #FFF;
}

#dyn_filter_editor #_ap_stat_tags {
	font-weight: bold;
}

#dyn_filter_editor p.cc_autocomp_line {
	margin: 1px;
}

#dyn_filter_editor p.cc_autocomp_selected {
    background-color: #CCC;
}

#dyn_filter_editor p.cc_autocomp_picked {
	font-style: italic;
	color: blue;
}

#dyn_filter_editor .cc_autocomp_list {
	margin-top: 3px;
	cursor: pointer;
	width: 220px;
}

#dyn_filter_editor .cc_autocomp_clear {
	display: block;
	text-align: right;
	width: 110px;
	float: right;
}

.cc_autocomp_stat {
	display: block;
	margin-bottom: 4px;
}

#dyn_filter_editor .cc_autocomp_border {
    border: 1px solid #666;
}

#dyn_filter_editor .filterbuttontray {
	margin-left: 40%;
	width: 180px;
}

#dyn_filter_editor .filterbuttontray a span {
	font-weight: bold;
}

