
body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	color: #333333;
	font-family: verdana,sans-serif;
	font-size: 11px;
}

img {
	border: 0px;
}

a, a:link, a:visited {
	color: #0000bb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.hide {
	display: none;
}

/*
    Generic Page 
*/
#banner {
    
	width: 100%;
	margin: 0px;
	padding: 1px 0px 0px 0;
	height: 70px;
	border-bottom: 1px solid #BBB;
	background: url('../images/header-main-b.png') bottom left repeat-x;
	position: relative; 
	top: 0px; 
	left: 0px;
}

#site_title {  /* in the banner */
	margin: 14px 0px 3px 120px;
}

div#banner_search {
	position: absolute;
	top: 6px;
	right: 135px;
	width: 230px;
}

#banner_search a {
	display: block;
	color: white;
}

#banner_search img {
	float: left;
	margin: 4px;
}

#banner_search h3 {
	font-size: 20px;
	font-family: Arial, arial, sans serif;
	margin: 3px 0px 0px;
}

#login_info {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 110px;
	color: white;
	text-align: center;
}

#login_info span {
	font-weight: bold;
}

#login_info a {
	display: block;
	font-size: 1.2em;
	color: white;
}

#main_content {
	margin-right: 17%;
	margin-left: 5%;
	margin-top: 45px;
}

h1, h2, h3 {
	line-height: 120%;
	font-family: Georgia,serif;
}

h2 {
	margin-top: 25px;
	line-height: 140%;
	margin-bottom: 12px;
	font-size: 175%;
}

#title h2, .title h1, #main_content h1 {
	padding: 0px 15px 10px 0px;
	margin: 0px;
	text-align: center;
	font-family: Verdana;
}

/*
	Navigation tabs
*/
#tabs {
	padding: 4px 0px 0px 100px;
	margin: 0px;
	display: block;
	position: absolute; 
	top: 71px;
	left: 0px;
	right: 0px;
	list-style-type: none;
	background: url('../images/tabbar-bg.png') top left repeat-x;
	line-height: 145%;
}

ul#tabs li { float: left; height: 2.4em;  margin: 0.2em 2px 0 2px; background: url("../images/tab-bg.png") repeat-x bottom left #f0f4f1; }
ul#tabs li.selected_tab { margin-top: 0; font-weight: bold; height: 2.7em; }

ul#tabs a {display: block; color: #333; background: url("../images/tab-body-dark.png") no-repeat top right ; text-decoration: none; }
ul#tabs a span { display: block; padding: 0.5em 1.4em 0.2em; padding-top: 0.7em; background: url("../images/tab-left-dark.png") no-repeat top left; }

ul#tabs a:hover {text-decoration: none; color: #333;  background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#tabs a:hover span { background: url("../images/tab-left-lit.png") no-repeat top left; }

ul#tabs li.selected_tab a { background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#tabs li.selected_tab a span { background: url("../images/tab-left-lit.png") no-repeat top left; padding-bottom: 0.4em; }


#sub_tabs {
	padding: 4px 0px 0px 100px;
	margin: 10px 0px 30px 0px;
	display: block;
	height: 20px;
	list-style-type: none;
	line-height: 145%;
}

ul#sub_tabs li { float: left; height: 2.4em;  margin: 0.2em 2px 0 2px; background: url("../images/tab-bg.png") repeat-x bottom left #f0f4f1; }
ul#sub_tabs li.selected_tab { margin-top: 0; font-weight: bold; height: 2.7em; }

ul#sub_tabs a {display: block; color: #333; background: url("../images/tab-body-dark.png") no-repeat top right ; text-decoration: none; }
ul#sub_tabs a span { border-bottom: 1px solid black; display: block; padding: 0.5em 1.4em 0.2em; padding-top: 0.7em; background: url("../images/tab-left-dark.png") no-repeat top left; }

ul#sub_tabs a:hover {text-decoration: none; color: #333;  background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#sub_tabs a:hover span { background: url("../images/tab-left-lit.png") no-repeat top left; }

ul#sub_tabs li.selected_tab a { background: url("../images/tab-body-lit.png") no-repeat top right #fff; }
ul#sub_tabs li.selected_tab a span { border-bottom: 0px; background: url("../images/tab-left-lit.png") no-repeat top left; padding-bottom: 0.4em; }



/*
	Main menu
*/
#menu {
	width: 15%;
	position: absolute;
	right: 2px;
	top: 110px;
	overflow: hidden;
}

#menu p {
	margin: 18px 0px 5px 0px;
	color: #777733;
	font-weight: bold;
	font-size: 1.1em;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style-type: none;
}

.more_menu_link {
	margin: 0px 0px 0px 12px;
}

#menu ul li {
	margin: 0px;
	padding: 0px;
	font-size: 0.85em;
}

#menu ul li a, a.more_menu_link {
	text-decoration: none;
	color: #0000bb;
}

a.more_menu_link {
	font-style: italic;
	color: #777733;
}

#menu ul li a:hover, a.more_menu_link:hover {
	text-decoration: underline;
}

.menu_group #mi_stream_page, .menu_group #mi_play_page, .menu_group #mi_podcast_page {
	height: 20px;
	padding-left: 22px;
	display: block;
}

.menu_group #mi_play_page {
    margin-top: 5px;
}


#mi_stream_page {
	background: url('../../shared/images/menu-stream.png') top left no-repeat;
}
#mi_play_page {
	background: url('../../shared/images/menu-play.png') top left no-repeat;
}
#mi_podcast_page {
	background: url('../../shared/images/menu-podcast.png') top left no-repeat;
}

/*
	Client menu (typically admin)
*/

.client_menu {
	list-style: none;
}

.client_menu li {
	margin: 0px 0px 7px 0px;
}

.client_menu li a {
	font-weight: bold;
	font-size: 12px;
}

/*
	Footer
*/
#footer {
	clear: both;
	margin: 14px 14px 6px 32px;
	width: 80%;
	background: #f2f8f2;
	padding: 10px;
	color: #555555;
}

#license img {
	float: left;
	margin: 8px;
}

#license {
	margin: 12px;
}

/*
	Upload listing
*/
.upload_info {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
}

.upload_info a {
}

a.upload_link {
	font-weight: bold;
	font-size: 1.5em;
	color: #777733;
}

.taglinks a {
	color: #999;
}

.cc_name_ban {
   text-decoration: line-through;
   color: red;
   font-weight: normal;
}

.cc_name_hidden {
   text-decoration: line-through;
   color: #555;
   font-weight: normal;
}

.cc_zipdir {
	list-style: none;
	padding: 0px;
}

.cc_zipdir li {
	margin: 0px;
	font-size: 0.8em;
}

/*
	Forms
*/

.cc_form_table td {
	vertical-align: top;
	padding-bottom: 0.5em;
}

.cc_form_label {
	width: 30%;
	text-align: right;
}
.cc_form_label div {
	white-space: nowrap;
	font-weight: bold;
}

.cc_form_label span {
}

.cc_form_element {
}

.cc_form_input {
	width: 200px;
}

.cc_form_input_short {
	width: 30px;
}

.cc_form_tip {
	font-weight: normal;
	font-size: 0.7em;
	font-family: Arial, sans serif;
	padding-left: 1em;
}

.cc_form_submit {
	margin-left: 40%;
}
#cc_form_help_container {
	width: 600px;
}

/* submit forms page */

.cc_submit_forms_outer {
	margin: 0px auto;
	width: 520px;
}

.cc_submit_forms {
	margin-bottom: 10px;
}

.cc_submit_forms img {
	float: left;
	margin: 7px;
}

.cc_submit_form_help {
	text-align: justify;
}
.cc_submit_form_url {
	font-size: 1.4em;
	clear: left;
	margin: 9px;
	font-weight: bold;
	text-align: center;
}

.cc_quota_message {
	font-style: italic;
	font-weight: normal;
}
